# Python
python/venv
.idea
.env
*.pyc

# A file for running by quick thoughts on my local computer
python/scratch.py
python/speed.py 
__pycache__/

# C
*.out
*.o

# Java
*.class

# VS Code
.vscode/

# Debugging
*.dSYM
